#studentbutton,
#guestbutton {
    border: 0px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 1px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background-clip: padding-box;
    transition: opacity 0.2s linear;
    width: 268px;
    margin-bottom: 10px;
    color: white;
}

#studentbutton #twitter,
#guestbutton #twitter {
    font-size: 30px;
    padding-left: 3px;
}


#studentbutton #guest,
#guestbutton #guest {
    font-size: 30px;
    padding-left: 3px;
}


#studentbutton .buttontext,
#guestbutton .buttontext {
    padding-right: 45px;
}

#studentbutton {
    background-color: #4285f4;
}


#guestbutton {
    background-color: #ffb45e;
}