.footer-container {
  flex-shrink: 0;
  background-color: grey;
  color: #f8f1ff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.footer-column {
  flex-basis: 100%;
  padding-top: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .footer-column {
      flex-basis: 33%;
      text-align: left;
  }
}